*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}
.apply-box{
    max-width: 700px;
    padding: 90px;
    background: bisque;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1,1,1, 0.1);
    border-radius: 10px;
}
.title_small{
    font-size: 20px;
}
.form-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(200px,1fr));
    gap: 20px;

}
.form-control{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 15px;
    margin-bottom: 6px;
}

input ,select ,textarea {
    padding:6px 10px;
    border:1px solid gray;
    border-radius: 4px;
    font-size: 15px;

}

input{
    outline-color: rgb(159, 78, 78);
}

.button-container{
    display: flex;
    justify-content: flex-end;
    margin:10px;

}
button{
    background: rgb(161, 51, 51);
    border:transparent solid 2px;
    padding:5px 10px ;
    border-radius: 10px;
    color:aliceblue;
    transition: 0.2s ease-in;
}

button:hover{
    background-color:rgb(59, 145, 182);
    border:2px solid red;
    color:black;
    cursor: pointer;
}
.textarea-control{
    grid-column: 1 / span 2;
}
.textarea-control textarea{
    width:100%;
}

@media(max-width:600px ){
    .textarea-control{
        grid-column: 1 / span 1;
    }
}